<div class="bg-white">
  <div class="row no-space">
    <div class="col-md-5">
      <div class="card card-plain">
        <div class="card-body">
          <%= form_for(room, url: url, validate: true) do |form| %>
          <div class="row">
            <div class="form-group col-md-6">
              <%= form.label :acronym %>
              <%= form.text_field :acronym, class: 'form-control' %>
            </div>
            <div class="form-group col-md-6">
              <%= form.label :title %>
              <%= form.text_field :title, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <%= form.label :building_id %>
              <%= form.select :building_id, options_for_levels_with_plans(@plans, room.building, room.level), {}, { class: 'form-control' } %>
            </div>
            <div class="form-group col-md-6">
              <%= form.label :room_type %>
              <%= form.select :room_type, @room_types.map{ |translation, room_type| [translation, room_type] }, {}, { class: 'form-control' } %>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <%= form.label :latitude %>
              <%= form.text_field :latitude, class: 'form-control' %>
            </div>
            <div class="form-group col-md-6">
              <%= form.label :longitude %>
              <%= form.text_field :longitude, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= form.hidden_field :geo_data %>
            <%= form.hidden_field :level %>
            <%= form.submit 'Salvar', class: 'btn btn-sm btn-fill btn-success', id: "Salvar" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div id="map" style="float: left;"></div>
    </div>
  </div>
</div>
