<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
  <div class="main-menu-content">
    <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
      <li class=" nav-item">
        <a href="<%= admin_path %>">
          <i class="icon-home3"></i>
          <span data-i18n="nav.dash.main" class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class=" nav-item">
        <a href="<%= admin_buildings_path %>">
          <i class="icon-office"></i>
          <span data-i18n="nav.page_layouts.main" class="menu-title">Edifícios</span>
        </a>
      </li>
      <li class=" nav-item">
        <a href="<%= admin_rooms_path %>">
          <i class="icon-enter"></i>
          <span data-i18n="nav.page_layouts.main" class="menu-title">Salas</span>
        </a>
      </li>
      <li class=" nav-item">
        <a href="<%= admin_points_path %>">
          <i class="icon-location22"></i>
          <span data-i18n="nav.page_layouts.main" class="menu-title">Pontos</span>
        </a>
      </li>
      <li class=" nav-item">
        <a href="<%= admin_plans_path %>">
          <i class="icon-map4"></i>
          <span data-i18n="nav.page_layouts.main" class="menu-title">Plantas</span>
        </a>
      </li>
    </ul>
  </div>
</div>
