<div class="sidebar" data-color="blue" data-image="../assets/img/sidebar-5.jpg">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="<%= admin_path %>" class="simple-text">
        Campus Map
      </a>
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="<%= admin_path %>">
          <i class="pe-7s-edit"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a class="nav-link" href="<%= admin_buildings_path %>">
          <i class="pe-7s-culture"></i>
          <p>Edifícios</p>
        </a>
      </li>
      <li>
        <a class="nav-link" href="<%= admin_rooms_path %>">
          <i class="pe-7s-exapnd2"></i>
          <p>Salas</p>
        </a>
      </li>
      <li>
        <a class="nav-link" href="<%= admin_points_path %>">
          <i class="pe-7s-map-marker"></i>
          <p>Pontos</p>
        </a>
      </li>
      <li>
        <a class="nav-link" href="<%= admin_plans_path %>">
          <i class="pe-7s-map-2"></i>
          <p>Plantas</p>
        </a>
      </li>
      <li>
        <a class="nav-link" href="<%= admin_admins_path %>">
          <i class="pe-7s-users"></i>
          <p>Admininstradores</p>
        </a>
      </li>
      <li class="nav-item active active-pro">
        <a class="nav-link active" href="<%= root_path %>">
          <i class="pe-7s-map"></i>
          <p>Abrir Mapa</p>
        </a>
      </li>
    </ul>
  </div>
</div>
