<div class="bg-white">
  <div class="row no-space">
    <div class="col-md-5">
      <div class="card card-plain">
        <div class="card-body">
          <%= form_for(point, url: url, validate: true) do |form| %>
          <div class="row">
            <div class="form-group col-md-6">
              <%= form.label "Título" %>
              <%= form.text_field :title, class: 'form-control' %>
            </div>
            <div class="form-group col-md-6">
              <%= form.label "Tipo de Ponto" %>
              <%= form.select :type_point, ['Bicicletario', 'Banheiro','Lanchonete', 'Parada de Onibus', 'Entrada de Edificio', 'Ponto de Informacao'], {}, {required: 'true', class: 'form-control' } %>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <%= form.label "Descrição" %>
              <%= form.text_field :description, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <%= form.label :latitude %>
              <%= form.text_field :latitude, class: 'form-control' %>
            </div>
            <div class="form-group col-md-6">
              <%= form.label :longitude %>
              <%= form.text_field :longitude, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= form.hidden_field :geo_data %>
            <%= form.submit 'Salvar', class: 'btn btn-fill btn-success', id: "Salvar" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div id="map" style="float: left;"></div>
    </div>
  </div>
</div>
