<div class="container-fluid">
  <div class="row">
    <div class="col-12">
        <%= notice.html_safe unless notice.blank? %>

      <div class="card">
        <div class="card-body table-responsive p-0">
          <table class="table table-hover table-striped m-0">
            <thead>
              <tr>
                <th>Título</th>
                <th>Tipo</th>
                <th>Descrição</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @points.find_each do |point| %>
                <tr>
                  <td><%= point.title %></td>
                  <td><%= point.type_point %></td>
                  <td><%= point.description %></td>
                  <td>
                    <%= edit_link edit_admin_point_path(point) %>
                    <%= destroy_link admin_point_path(point), 'Você tem certeza que deseja apagar este ponto?' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <%= paginate @points, window: @pagination_windows %>
    </div>
  </div>
</div>
