<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <%= form_for(admin, url: url, validate: true) do |form| %>
          <div class="row">
            <div class="form-group col-md-6">
              <%= form.label :name %>
              <%= form.text_field :name, class: 'form-control', placeholder: 'Máximo de 20 caracteres'%>
            </div>
            <div class="form-group col-md-6">
              <%= form.label :email %>
              <%= form.text_field :email, class: 'form-control', placeholder: 'Exemplo: seuemail@gmail.com' %>
            </div>
          </div>
          <%= render 'form_password', form: form if %w(new create).include?(action_name) %>
          <div class="row">
            <div class="form-group col-md-6">
              <%= form.submit 'Salvar', class: 'btn btn-fill btn-sm btn-success' %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
