<div class="content-wrapper">
  <div class="content-header row">
    <div class="content-header-left col-md-6 col-xs-12 mb-1">
      <h2 class="content-header-title">Admins</h2>
    </div>
  </div>
  <div class="content-body">

    <%= notice.html_safe unless notice.blank? %>

    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Lista de Admins</h4>
            <a class="heading-elements-toggle">
              <i class="icon-ellipsis font-medium-3"></i>
            </a>
            <div class="heading-elements">
              <ul class="list-inline">
                <li>
                  <a href="<%= new_admin_admin_path %>">
                    <i class="icon-plus2"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body collapse in">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead class="thead-inverse">
                  <tr>
                    <th>Email</th>
                    <th>Nome</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @admins.find_each do |admin| %>
                    <tr>
                      <td><%= admin.email %></td>
                      <td><%= admin.name %></td>
                      <td>
                        <%= edit_link edit_admin_admin_path(admin) %>
                        <%= destroy_link admin_admin_path(admin), 'Você tem certeza que deseja apagar este administrador?' %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <%= paginate @admins, window: @pagination_windows %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
