<div class="container-fluid">
  <div class="row">
    <div class="col-12">
        <%= notice.html_safe unless notice.blank? %>

      <div class="card">
        <div class="card-body table-responsive p-0">
          <table class="table table-hover table-striped m-0">
            <thead>
              <tr>
                <th>Email</th>
                <th>Nome</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @admins.find_each do |admin| %>
                <tr>
                  <td><%= admin.email %></td>
                  <td><%= admin.name %></td>
                  <td>
                    <%= edit_link edit_admin_admin_path(admin) %>
                    <%= destroy_link admin_admin_path(admin), 'Você tem certeza que deseja apagar este administrador?' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <%= paginate @admins, window: @pagination_windows %>
    </div>
  </div>
</div>
