<%= form_for(resource, as: resource_name, url: login_path, html: { class: 'form-signin' }) do |form| %>
<div class="form-label-group">
  <%= form.email_field :email, class: "form-control", autofocus: true %>
  <%= form.label :email %>
</div>

<div class="form-label-group">
  <%= form.password_field :password, class: "form-control", autocomplete: "off" %>
  <%= form.label :password %>
</div>

<div class="text-center">
  <%= form.submit "Log in", class: "btn btn-success btn-block btn-lg" %>
</div>
<% end %>
