<div class="container-fluid">
  <div class="row">
    <div class="col-12">
        <%= notice.html_safe unless notice.blank? %>

      <div class="card">
        <div class="card-body table-responsive p-0">
          <table class="table table-hover table-striped m-0">
            <thead>
              <tr>
                <th>Sigla</th>
                <th>Título</th>
                <th class="hidden-sm-down">Telefone</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @buildings.find_each do |building| %>
                <tr>
                  <td><%= building.acronym %></td>
                  <td><%= building.title %></td>
                  <td class="hidden-sm-down"><%= building.phone %></td>
                  <td>
                    <%= edit_link edit_admin_building_path(building) %>
                    <%= destroy_link admin_building_path(building), 'Você tem certeza que deseja apagar este edifício?' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <%= paginate @buildings, window: @pagination_windows %>
    </div>
  </div>
</div>
