<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <%= csrf_meta_tags %>
    <title>Admin</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
    <%= stylesheet_pack_tag 'admin' %>
    <%= stylesheet_link_tag 'admin' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <div class="wrapper">
      <%= render 'layouts/admin/menu' %>
      <div class="main-panel">
        <!-- Navbar -->
        <%= render 'layouts/admin/nav' %>
        <!-- End Navbar -->
        <%= yield %>
      </div>
    </div>
  </body>
  <%= javascript_include_tag 'https://unpkg.com/leaflet@1.0.3/dist/leaflet.js' %>
  <%= javascript_include_tag 'admin' %>
  <%= javascript_pack_tag 'admin' %>
</html>
